Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
email-validator
pyotp
qrcode
Pillow
translatepy
requests
flask-socketio
python-socketio
eventlet
bcrypt
cryptography
werkzeug
gtts
deep-translator
langdetect
python-dotenv
